body{
    background-color: #00001d;
    margin: 0%;
    font-family: 'League Spartan';
}

/* navbar */
.navbar{
    color: #5ec9cc;
    font-size: 78px;
}

.navbar a {
    font-size: 40%;
}

.navbar .btn{
    font-size: 30%;
}

.navbar .btn{
    background-color: #5ec9cc;
}

/* message box*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-size: 130%;
    text-align: center;
}

.alert.success {
    background-color: #04AA6D;
}
  
.alert.error {
    background-color: #f44336;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 32px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

/* homepage */
.home_main h1, .home_main p{
    color: white;
}

.home_main .btn{
    font-size: 140%;
    background-color: #f6836b;
    color: white;
}

.home_main{
    height: 650px;
}

.navbar-brand{
    color: white;
}


/* Footer */
.end
{
  padding-top: 5%;
  opacity: 0.7;
}

.end_btns img{
    position: fixed;
    bottom:10px;
    width:80px;
    height:80px;
    font-size: 20px;
    border:none;
    background-color: none;
    outline:none;
    cursor: pointer;
}

.end_btns img:hover{
    opacity: 0.7;
    outline:none;
}
.end_btns img:active{
    outline:none;
    border: none;
}

.backButton img  {
    left: 40px;
}