{% include "header.html" %}

<h1 class="signup_title">Register For Courses</h1>
<div class="signup">
    
    <div class="signup_container" style="width: 60%; font-size: 15px;">
        
        <br><br>

        <ul>
            {% for course in existing_courses %}
            <li class="name_box" style="height: 250px;">
                
                <h4>Course Name: {{ course.name }}</h4>
                <h4>Course Id: {{ course.course_id }}</h4>
                <h4>Professor Name: {{ course.prof.username }}</h4>
                <h4>Semester: {{ course.semester }}</h4>

                <form action="{% url 'register_for_course' user.id %}" method="POST">
                    {% csrf_token %}
                    <button style="width: 200px ; margin-left: 70%; margin-top:-100%;" class="add_btn" type="submit"><span>Request to Join</span></button>
                    <input type="text" name="selected_course" value="{{ course.course_id }}" style="display: none;">
                </form>

            </li>
            <br><br><br><br><br><br>
            {% endfor%}
        </ul>
            
    </div>
</div>
   

{% include "footer.html" %}
   

{% include "footer.html" %}